@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
      font-weight: bold;
    }
    h2 {
      @apply text-xl;
      font-weight: bold;
    }
    h3 {
      @apply text-lg;
      font-weight: bold;
    }
    h4 {
      font-weight: bold;
      text-decoration: underline;
    }
    ol {
      @apply list-decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 30px;  
    }
    ul {
      @apply list-outside;
      @apply list-disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 30px;  
    }
    hr {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    nav .NavItem {
      border-left-width: 4px;
      border-color: transparent;
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-left: 1.25rem;
      font-size: .875rem;
      line-height: 1.25rem;
      --tw-text-opacity: 1;
    }
    nav .NavItem.is-active {
      --tw-border-opacity: 1;
      border-color: rgb(59 130 246 / var(--tw-border-opacity));
      background-color: #41454d;
      --tw-text-opacity: 1;
      color: rgb(219 234 254 / var(--tw-text-opacity));
    }
}

